h1 { 
    color: red;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 30px;
}

/* Universal Selector */

*{
    /* color: green;
    text-transform: uppercase; */
    margin: 0px;
    padding: 0px;
}

/* Tag Selector */

h2 {
    color: red;
    text-align: center;
}

/* attribute selector */

a[title="google"] {
    color: red;
    text-decoration: none;
}

/* id selector */
#idselector {
    color: brown;
    line-height: 30px;
    letter-spacing: 20px;
    text-indent: 50px;
    font-style: italic;
    text-transform: capitalize;
}

/* class selector */
.classSelector {
    color: red;
    word-spacing: 30px;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 25px;
}

/* descendent selector */
.desc a{ 
    color: red;

}

/* child  selector */
.child>a{
    color: red;
}

a:link {
    color: red;
}
a:hover{
    color: yellow;
    letter-spacing: 20px;
}
a:active{
    color: green;
}
a:visited{
    color: blue;
}

/* Target */

:target{
    color: red;
    letter-spacing: 10px;
    border: 1px solid black;
}

.borderone {

    border: 10px solid red;
}

.bordertwo {
   border-top: 20px solid red;
   border-left: 20px solid  yellow;
}

.borderthree {
    border-style: dotted double solid dashed;
}

.borderWidth {
    border-width: 20px 5px 10px 30px ;
    border-style: dotted;
    border-color: red yellow;
}

.margin {
    border: 3px solid red;
    margin: 40px;
}

.padding {
    border: 2px solid black;
    padding-top: 100px;
}

.inline {
    border: 2px solid red;
    width: 300px;
    display: inline-block;
}

.block {
    border: 2px solid black;
    width: 300px;
    display: inline-block;
}

.floatLeft img {
    float: left;
    width: 40%;
}

.clear {
    clear: both;
}

.floatRight img{
    float: right;
    width: 40%;
}

/* Grid  */

.gridone div, .gridtwo div, .gridthree div, .gridfour div{
    padding: 20px 0px;
    color: white;
    text-align: center;
}

.gridone {
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridtwo {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    /* grid-gap: 20px;  */
}

.gridthree, .gridfour {
    display: grid;
    grid-template-columns: auto auto auto;

}

.rowadd {
    grid-row-start: 1;
    grid-row-end: 3;
}

.columnadd  {
    grid-column-start: 2;
    grid-column-end: 4;
}

/* Position */

.relativeParent {
    border: 2px solid red;
    width: 1000px;
    height: 600px;
   
}

.positionRelative {
    position: relative;
    border: 2px solid green;
    width: 500px;
    height: 300px;
    top: 100px;
    left: 100px;
}

.absoluteParent {
    border: 2px solid brown;
    width: 1000px;
    height: 600px;
    position: relative;
}
.positionAbsolute {
    border: 2px solid yellow;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 100px;

}

.positionFixed {
    position: fixed;
    top: 50px;
    right: 50px;
}

/* Font */
.onlineFont {
    font-family: 'Bungee Spice', sans-serif;    
}

@font-face {
    font-family: bungee;
    src: url(Bungee_Spice/BungeeSpice-Regular.ttf);
}

.offlineFont {
    font-family: bungee; 
}